*{
	box-sizing: border-box;
	border: 0px;
	margin:0px;
}
#head{
	text-align: center;
}
#row{

}
#row1{
	position: relative;
	background-color: pink;
	margin: 10px;
  	box-sizing: border-box;
	border:3px solid black;

	}
	
p.p1{
		text-align: center;
		border-left: 3px solid black;
		border-bottom: 3px solid black;
		position: absolute;
		right : 0px;
		top: 0px;
		width :100px;
	}
.play{
background-color: #c70039	}
.stage{
background-color: #c074e8	}
.score{
background-color: #ffc300	}

p.p2{
	margin-top: 30px;
	padding: 10px;
}
@media (min-width: 992px) {
	.col-lg-4{
	float:left;
	}
.col-lg-4{
	width: 33.33%
}
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6,.col-md-12{
		float:left;
	}

.col-md-12{
	width: 100%
}
.col-md-6{
	width: 50%
}

}
