body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}



.navbar-brand {
  padding-top: 15px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.container-fluid {
  background-color: #888888;
  margin: 10px;
  padding: 3%;
}
.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #550007;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-left: 0;

}
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; 
  }

  #collapsable-nav a { 
    font-size: 1.2em;
  }
}


@media (max-width: 479px) {
  .navbar-brand h1 {
    font-size: 6vw;
  }
}

